body {
  background-color: #e9e9e9;
}
.navbar {
  border-radius: 0;
}
.nav-style {
  background-color: #d18b00;
  border-color: #d18b00;
  padding-left: 10%;
  color: white;
}
.nav-style div:first-child a {
  display: flex;
}
.nav-style div:first-child a img {
  width: 40px;
  height: 40px;
  margin-top: -12px;
}
.nav-style div:first-child a div {
  color: white;
}
.nav-style div:nth-child(2) a {
  color: white;
  font-size: 12px !important;
  margin-left: -10px;
}
.nav-style div:nth-child(2) a .iconfont {
  -webkit-text-stroke: 1px white;
}
.nav-style div:nth-child(2) .music-player {
  display: flex;
  margin-left: 8em;
}
.nav-style div:nth-child(2) .music-player .play-square,
.nav-style div:nth-child(2) .music-player .stats-square {
  width: 20px;
  height: 20px;
  background-color: #e09600;
}
.nav-style div:nth-child(2) .music-player .play-square .glyphicon-play,
.nav-style div:nth-child(2) .music-player .stats-square .glyphicon-play {
  margin-left: 3px;
}
.nav-style div:nth-child(2) .music-player .stats-square {
  margin-left: 2px;
}
.nav-style div:nth-child(2) .music-player:hover {
  background-color: #FFFFFF;
}
.nav-style div:nth-child(2) .music-player:hover .play-square,
.nav-style div:nth-child(2) .music-player:hover .stats-square {
  background-color: lightgrey;
  color: gray;
}
.nav-style div:nth-child(2) .search-input input {
  width: 140px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 15px;
  border: none;
  outline: none;
  background-color: #dda840;
}
.nav-style div:nth-child(2) .search-input input::-webkit-input-placeholder {
  color: #f4e4c5;
}
.nav-style div:nth-child(2) .search-input .glyphicon-search {
  margin-left: -35px;
  margin-top: 1px;
}
.nav-style div:nth-child(2) .user-home {
  display: flex;
}
.nav-style div:nth-child(2) .user-home img {
  width: 20px;
  height: 20px;
}
.nav-style div:nth-child(2) .user-home div {
  margin-left: 5px;
}
.nav-style div:nth-child(2) .sign-out,
.nav-style div:nth-child(2) .settings,
.nav-style div:nth-child(2) .yellow-diamond {
  font-size: 14px !important;
}
.nav-style div:nth-child(2) .yellow-diamond {
  color: #fea402;
  border-color: #fea402;
  margin-top: -2px;
}
.nav-style div:nth-child(2) .user-center:hover {
  background-color: #e09600;
}
.nav-style div:nth-child(2) .my-homepage:hover,
.nav-style div:nth-child(2) .my-homepage:active,
.nav-style div:nth-child(2) .my-homepage:visited,
.nav-style div:nth-child(2) .friends:hover,
.nav-style div:nth-child(2) .friends:active,
.nav-style div:nth-child(2) .friends:visited,
.nav-style div:nth-child(2) .games:hover,
.nav-style div:nth-child(2) .games:active,
.nav-style div:nth-child(2) .games:visited,
.nav-style div:nth-child(2) .dress:hover,
.nav-style div:nth-child(2) .dress:active,
.nav-style div:nth-child(2) .dress:visited,
.nav-style div:nth-child(2) .settings:hover,
.nav-style div:nth-child(2) .settings:active,
.nav-style div:nth-child(2) .settings:visited {
  background-color: #fff;
  color: #0f0f0f;
}
.nav-style div:nth-child(2) .my-homepage:hover .iconfont,
.nav-style div:nth-child(2) .my-homepage:active .iconfont,
.nav-style div:nth-child(2) .my-homepage:visited .iconfont,
.nav-style div:nth-child(2) .friends:hover .iconfont,
.nav-style div:nth-child(2) .friends:active .iconfont,
.nav-style div:nth-child(2) .friends:visited .iconfont,
.nav-style div:nth-child(2) .games:hover .iconfont,
.nav-style div:nth-child(2) .games:active .iconfont,
.nav-style div:nth-child(2) .games:visited .iconfont,
.nav-style div:nth-child(2) .dress:hover .iconfont,
.nav-style div:nth-child(2) .dress:active .iconfont,
.nav-style div:nth-child(2) .dress:visited .iconfont,
.nav-style div:nth-child(2) .settings:hover .iconfont,
.nav-style div:nth-child(2) .settings:active .iconfont,
.nav-style div:nth-child(2) .settings:visited .iconfont {
  color: grey !important;
  -webkit-text-stroke: 1px grey;
}
.nav-style div:nth-child(2) .yellow-diamond:hover,
.nav-style div:nth-child(2) .yellow-diamond:active,
.nav-style div:nth-child(2) .yellow-diamond:visited {
  background-color: #fff;
  color: #fea402;
  border-color: #fea402;
}
.qzone-message .qzone-head {
  display: flex;
}
.qzone-message .qzone-head .head-title {
  margin-left: 15em;
  margin-top: 20px;
}
.qzone-message .qzone-head .head-title .qzone-name {
  display: flex;
}
.qzone-message .qzone-head .head-title .qzone-name div:first-child {
  font-size: 28px;
  color: #a5a5a5;
}
.qzone-message .qzone-head .head-title .qzone-name .icon-pingguo {
  font-size: 18px;
  margin-left: 8px;
  margin-top: 10px;
  color: #eb7b6a;
}
.qzone-message .qzone-head .head-title .qzone-name .rank-number {
  font-size: 12px;
  margin-left: -5px;
  margin-top: 20px;
  color: white;
  -webkit-text-stroke: 1px #f49648;
}
.qzone-message .qzone-head .head-title .qzone-name .icon-p-shouji {
  font-size: 24px;
  margin-left: 10px;
  margin-top: 6px;
  color: #237def;
}
.qzone-message .qzone-head .head-title .qzone-address {
  font-size: 16px;
  color: #cc8f14;
  margin-top: 3px;
}
.qzone-message .qzone-head button {
  display: flex;
  width: 60px;
  height: 30px;
  margin-left: 45em;
  margin-top: 30px;
  color: #939393;
  border-radius: 40%;
  outline: none;
  border: none;
}
.qzone-message .qzone-head button .icon-dianzan1 {
  color: white;
  font-size: 18px;
}
.qzone-message .qzone-head button div {
  color: white;
  margin-left: 1em;
  margin-top: 2px;
}
.qzone-message .homepage-nav {
  display: flex;
}
.qzone-message .homepage-nav img {
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  border: 3px solid #FFFFFF;
  margin-left: 15em;
  margin-top: 80px;
}
.qzone-message .homepage-nav div:nth-child(2) .qq-name {
  margin-top: 80px;
  margin-left: 20px;
  font-size: 20px;
  color: #cc8f14;
}
.qzone-message .homepage-nav div:nth-child(2) a {
  margin-left: 25px;
  font-size: 15px;
  color: #403e39;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message {
  display: flex;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .diamond-rank .big-diamond {
  font-size: 24px;
  color: lightgrey;
  margin-left: 20px;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .diamond-rank div {
  margin-left: 20px;
  color: #FFFFFF;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .growth-schedule {
  margin-left: 20px;
  margin-top: 10px;
  color: #cc8f14;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .growth-schedule .progress {
  margin-top: 5px;
  border-radius: 5px;
  height: 10px;
  background-color: #a5c4d8;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .growth-schedule .progress .progress-bar {
  width: 0;
  color: black;
  line-height: 10px;
  font-size: 8px;
  margin-left: 3px;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .renew-diamond {
  width: 80px;
  height: 30px;
  background-color: #ffcf04;
  border: 1px solid #dd8a00;
  color: #a94c04;
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bolder;
  padding-top: 3px;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .renew-diamond:hover,
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .big-diamond:hover,
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .lovers-diamond:hover,
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .growth-schedule:hover {
  text-decoration: none;
}
.qzone-message .homepage-nav div:nth-child(2) .yellow-diamond-message .lovers-diamond {
  font-size: 30px;
  color: lightgrey;
  margin-left: 20px;
}
.qzone-message .homepage-nav div:nth-child(2) .nav-content {
  margin-top: 25px;
  margin-left: 10px;
}
.homepage-content {
  display: flex;
}
.homepage-content .homepage-lmessage {
  width: 320px;
  margin-left: 15em;
  margin-top: 50px;
}
.homepage-content .homepage-lmessage .profile {
  display: flex;
  width: 310px;
  height: 80px;
  border: 1px solid #ebe3bc;
  background-color: #fffcf4;
  color: #403e39;
  border-radius: 3px;
}
.homepage-content .homepage-lmessage .profile div {
  text-align: center;
  width: 33%;
  margin: auto;
  font-size: 15px;
}
.homepage-content .homepage-lmessage .profile div .profile-number {
  font-weight: bolder;
  font-size: 20px;
}
.homepage-content .homepage-lmessage .profile .vertical-line {
  width: 1px;
  height: 50px;
  background-color: #ede8d1;
}
.homepage-content .homepage-lmessage .personal-file {
  width: 310px;
  height: 130px;
  border: 1px solid #ebe3bc;
  background-color: #fffcf4;
  margin-top: 15px;
  border-radius: 3px;
}
.homepage-content .homepage-lmessage .personal-file div:first-child {
  height: 40px;
  background-color: #faf7e6;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 10px;
  padding-left: 10px;
}
.homepage-content .homepage-lmessage .personal-file div:nth-child(2) {
  background-color: #fffcf4;
  width: 85%;
  height: 40px;
  margin: auto;
  border-bottom: 1px solid #ede8d1;
  padding-top: 10px;
}
.homepage-content .homepage-lmessage .personal-file div:nth-child(3) {
  background-color: #fffcf4;
  width: 85%;
  margin: auto;
  padding-top: 10px;
}
.homepage-content .homepage-lmessage .personal-file .icon-menu,
.homepage-content .homepage-lmessage .personal-file .icon-xiexing {
  color: #b2aa9b;
  font-weight: bolder;
}
.homepage-content .homepage-lmessage .recent-visitors {
  width: 310px;
  height: 360px;
  border: 1px solid #ebe3bc;
  background-color: #fffcf4;
  margin-top: 15px;
  border-radius: 3px;
}
.homepage-content .homepage-lmessage .recent-visitors .visitors-title {
  height: 40px;
  background-color: #faf7e6;
  font-size: 18px;
  font-weight: bolder;
  padding-top: 10px;
  padding-left: 10px;
}
.homepage-content .homepage-lmessage .recent-visitors .visitors-image .portrait {
  display: flex;
  width: 96%;
  margin: auto;
}
.homepage-content .homepage-lmessage .recent-visitors .visitors-image .portrait .image-square {
  margin-right: 5px;
}
.homepage-content .homepage-lmessage .recent-visitors .visitors-image .portrait .image-square img {
  width: 95px;
  height: 95px;
  margin: auto;
  padding-top: 5px;
}
.homepage-content .homepage-lmessage .recent-visitors .visitors-image .portrait .image-square .image-title {
  width: 95px;
  height: 20px;
  background-color: black;
  opacity: 0.2;
  color: #FFFFFF;
  margin-top: -20px;
  padding-left: 5px;
}
.homepage-content .homepage-lmessage .recent-visitors .visitors-more {
  padding-left: 10px;
  padding-top: 5px;
  color: #cc8f14;
}
.homepage-content .homepage-rmessage {
  width: 615px;
  margin-left: 2em;
  margin-top: 50px;
}
.homepage-content .homepage-rmessage .photo-wall {
  display: flex;
  width: 615px;
  height: 300px;
  margin: auto;
  border: 1px solid #ebe3bc;
  background-color: #fffcf4;
  border-radius: 3px;
}
.homepage-content .homepage-rmessage .photo-wall .left-image {
  width: 330px;
  height: 280px;
  padding-left: 10px;
  padding-top: 10px;
}
.homepage-content .homepage-rmessage .photo-wall .left-image .image1 {
  width: 320px;
  height: 280px;
}
.homepage-content .homepage-rmessage .photo-wall .right-image {
  width: 260px;
  height: 300px;
  margin-left: 12px;
  padding-top: 10px;
}
.homepage-content .homepage-rmessage .photo-wall .right-image .image2,
.homepage-content .homepage-rmessage .photo-wall .right-image .image3 {
  width: 260px;
  height: 143px;
  padding-bottom: 10px;
}
.click-to-top {
  position: fixed;
  width: 50px;
  height: 100px;
  background-color: #faf7e6;
  border: 1px solid #ebe3bc;
  right: 20px;
  bottom: 20px;
  z-index: 20;
}
.click-to-top div:first-child {
  height: 48px;
  border-bottom: 1px solid #ede8d1;
}
.click-to-top div:first-child .glyphicon-menu-up {
  color: #bab9b7;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
}
.click-to-top div:nth-child(2) {
  padding-top: 15px;
  padding-left: 10px;
}
.click-to-top a {
  color: #bab9b7;
}
.click-to-top a:hover {
  text-decoration: none;
}
.click-to-top a:hover div {
  background-color: #fff;
}
.click-to-top a:visited {
  text-decoration: none;
}
.chy-footer {
  width: 90%;
  margin: auto;
}
.chy-footer .line1,
.chy-footer .line2,
.chy-footer .line3 {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  font-size: 12px;
}
.chy-footer .line1 .right-border,
.chy-footer .line2 .right-border,
.chy-footer .line3 .right-border {
  border-right: 1px solid black;
  padding-right: 5px;
}
.chy-footer .line1 .orange-color,
.chy-footer .line2 .orange-color,
.chy-footer .line3 .orange-color {
  color: #dba200;
}
.chy-footer .line1 a,
.chy-footer .line2 a,
.chy-footer .line3 a {
  color: #403e39;
  text-decoration: none;
  margin-left: 5px;
}
.chy-footer .line1 a:hover,
.chy-footer .line2 a:hover,
.chy-footer .line3 a:hover {
  text-decoration: underline;
}
